*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif, Arial;
}
.desafio1{
    color:white;
}

.title{
    color: white;
    font-size: 30px;
    text-align: center;
}
ul li a{
    color: #2a9d8f;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
tr td{
    color: white;
}
tr td ul li{
    color:white;
}
tr td ol li{
    color: white;
}
tr td{
    color: white;
}
.tabla{
    text-align: center;
    margin-left: 30%;
}
header, footer{
    background-color: rgb(31, 40, 121);    
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
.redes li{
    display: inline-block;
    border:10px;
}
h2{
    font-size: 40px;
}
.intro{
    text-align: center;
}
.main--logo{
    font-size: 60px;
    padding: 0px;
    margin: 0;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: #B3365B;

}
.main--eslogan{
    font-size: 30px;
    word-spacing:30px;
    color: #B3365B;
}
.logo--centro{
    width: 30%;
    margin-top: 50px;
}

.main--eslogan{    
    padding-bottom:30px;
    
}
.logo{
    background-color: #091C32;
    margin: 0%;
    padding: 0%;
    width: 50%;
    text-align: center;
}
.derecha{
    padding: 0%;
    margin: 0;
    background-color: #B3365B;
    width: 50%;
    text-align: center;
}
.fab{
    color: white;
}
i{
    color: white;
}
.main{
    display: inline-block;
}
.menu{
    text-align: end;
    padding: 20px;
}
.main--logo:hover{
    color: #ffd113;
    cursor: pointer;
}

.submenu{
    /* display: inline-block; */
    position: relative;
    display: none;

}
.menu--opcion:hover{
    position: relative;
    color: #ffd113;    
    border-bottom: 2px solid #B3365B;
    display: block;
}
.submenu:hover{
    display: block;
}
