*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif, Arial;
}
.menu{
    
    background-color: #B3365B;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 673.7px;
}

.cont-menu{
    background-color: #091C32;
    display: flex;
    justify-content: flex-end; 
    
}
a{
    text-decoration: none;
}
.main{
    background-color: blue;
    display: flex;
}
.logo{
    background-color: #091C32;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.logo--centro{
    width: 40%;
}
.derecha{
    background-color: #B3365B;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.redes{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
    width: 50%;
    font-size: 40px;
    padding: 20px;
}
header{
    width: 100%;
}
.main--logo{
    font-size: 60px;
    padding: 0px;
    margin: 0;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: #B3365B;
}
.main--eslogan{
    font-size: 30px;
    word-spacing:20px;
    color: #B3365B;
}
.intro{
    width: 90%;
    padding: 30px;
}
.title{
    padding: 20px;
    font-size: 40px;
    font-weight: ;
    color:#091C32; 
}

.superior{
    width: 100%;
    background-color: white;
}
.fab{
    color: #FFD113;
}

.fa-twitter:hover{
    color: #00A7E7;
}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    background-image: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, #962fbf,#4f5bd5);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube:hover{
    color: #FF0000;
}
.menu--opcion{
    color: #091C32 ;
    font-size: 17px;
}
.menu--opcion:hover{
    color: #FFD113;    
}